.InputElement{
    display: flex;
    flex-flow: column;
    font-size: 1.2em;
    border-radius: 0.75em;
    padding-left: 0.5em;
    border: 2px solid #000;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    border: 2px solid #004ca2;
}

.Invalid {
    border: 2px solid #f00;
}

.ErrorMessage {
    color: #f00;
    margin-left: 0.5em;
    display: inline-block;
    margin-bottom: 0.4em;
}